.broker.host-criipto-mitid-dk.auth {
  background-color: rgb(141, 212, 253);
}

.criipto-eid-selector .criipto-qr-code {
  background-color: white;
}

/* Content above the Criipto Verify frame */
#headline .lang span {
  display: none;
}

#headline .lang-da:after,
#headline .lang-en:after {
  content: url(/norlys.png);
}
