body {
  background-color: #002219;
}

/* Custom font for YouSee login screen*/
#headline span::after {
  font-family: "LFT Etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #fcfcfc;
  font-size: 2.5rem;
  font-weight: 600;
}

/********** NemID/MitID screen **********/

/* Content above the Criipto Verify frame */
#headline .lang span {
  display: none;
}

#headline .lang-da:after {
  content: "YouSee Login";
}

#headline .lang-en:after {
  content: "YouSee Login";
}

/* Content below the Criipto Verify frame*/

#description p:nth-child(1) .lang-:after {
  content: "Log ind med brugernavn";
}

#description p:nth-child(1) .lang-en:after {
  content: "Log in with username";
}

#description p:nth-child(2) .lang-:after {
  content: "Opret login";
}

#description p:nth-child(2) .lang-en:after {
  content: "Create login";
}

aside#description {
  text-align: center;
}

#description p:nth-child(1) #description p:nth-child(2) {
  display: inline;
  font-family: "LFT Etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #fcfcfc;
}

/* Fonts for buttons and text */

.criipto-eid-selector .criipto-qr-code p,
.criipto-eid-btn {
  font-family: "LFT Etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.criipto-eid-btn {
  font-size: 16px;
}

/********** eID chooser screen **********/

@media (min-width: 750px) {
  #frame {
    border-radius: 16px;
  }
}

.criipto-eid-selector .criipto-qr-code {
  background-color: #fcfcfc;
}

.criipto-eid-selector .criipto-eid-btn.criipto-cancel-btn {
  background-color: #ccc;
}
